bin memif_socket_filename_add_del add id 1 filename /root/sockets/memif5.sock
bin memif_socket_filename_add_del add id 2 filename /root/sockets/int31.sock
create interface memif id 5 socket-id 1 hw-addr 52:54:02:00:00:aa slave rx-queues 1 tx-queues 1
create interface memif id 10 socket-id 2 hw-addr 52:54:02:00:01:bb master rx-queues 1 tx-queues 1
set int ip addr memif1/5 172.16.10.12/24
set int ip addr memif2/10 172.16.31.10/24
set int state memif1/5 up
set int state memif2/10 up

set ip arp static memif1/5 172.16.10.102 {{ nfvbench_macs[0] }}
set ip arp static memif2/10 172.16.31.11 52:54:02:00:02:aa

ip route add 172.16.64.0/18 via 172.16.10.102
ip route add 172.16.192.0/18 via 172.16.31.11
