create bridge-domain 1
create bridge-domain 2

bin memif_socket_filename_add_del add id 1 filename /etc/vpp/sockets/memif1.sock
bin memif_socket_filename_add_del add id 2 filename /etc/vpp/sockets/memif2.sock
bin memif_socket_filename_add_del add id 3 filename /etc/vpp/sockets/memif3.sock
bin memif_socket_filename_add_del add id 4 filename /etc/vpp/sockets/memif4.sock
bin memif_socket_filename_add_del add id 5 filename /etc/vpp/sockets/memif5.sock
bin memif_socket_filename_add_del add id 6 filename /etc/vpp/sockets/memif6.sock

create interface memif id 1 socket-id 1 master
create interface memif id 2 socket-id 2 master
create interface memif id 3 socket-id 3 master
create interface memif id 4 socket-id 4 master
create interface memif id 5 socket-id 5 master
create interface memif id 6 socket-id 6 master

create sub TwentyFiveGigabitEthernet5e/0/1 {{ vlan_ids[0] }}
create sub TwentyFiveGigabitEthernet5e/0/1 {{ vlan_ids[1] }}

set int l2 bridge TwentyFiveGigabitEthernet5e/0/1.{{ vlan_ids[0] }} 1
set int l2 bridge memif1/1 1
set int l2 bridge memif3/3 1
set int l2 bridge memif5/5 1
set int l2 bridge TwentyFiveGigabitEthernet5e/0/1.{{ vlan_ids[1] }} 2
set int l2 bridge memif2/2 2
set int l2 bridge memif4/4 2
set int l2 bridge memif6/6 2

set int mtu 9200 TwentyFiveGigabitEthernet5e/0/1

set int state TwentyFiveGigabitEthernet5e/0/1 up
set int state TwentyFiveGigabitEthernet5e/0/1.{{ vlan_ids[0] }} up
set int state TwentyFiveGigabitEthernet5e/0/1.{{ vlan_ids[1] }} up
set int state memif1/1 up
set int state memif2/2 up
set int state memif3/3 up
set int state memif4/4 up
set int state memif5/5 up
set int state memif6/6 up

set interface l2 tag-rewrite TwentyFiveGigabitEthernet5e/0/1.{{ vlan_ids[0] }} pop 1
set interface l2 tag-rewrite TwentyFiveGigabitEthernet5e/0/1.{{ vlan_ids[1] }} pop 1
