create bridge-domain 1
create bridge-domain 2

create vhost-user socket /var/run/vpp/sock1.sock server
create vhost-user socket /var/run/vpp/sock2.sock server

create sub TwentyFiveGigabitEthernet5e/0/1 1070
create sub TwentyFiveGigabitEthernet5e/0/1 1064

set int l2 bridge TwentyFiveGigabitEthernet5e/0/1.1070 1
set int l2 bridge VirtualEthernet0/0/0 1
set int l2 bridge TwentyFiveGigabitEthernet5e/0/1.1064 2
set int l2 bridge VirtualEthernet0/0/1 2

set int state TwentyFiveGigabitEthernet5e/0/1 up
set int state TwentyFiveGigabitEthernet5e/0/1.1070 up
set int state TwentyFiveGigabitEthernet5e/0/1.1064 up
set int state VirtualEthernet0/0/0 up
set int state VirtualEthernet0/0/1 up

set interface l2 tag-rewrite TwentyFiveGigabitEthernet5e/0/1.1070 pop 1
set interface l2 tag-rewrite TwentyFiveGigabitEthernet5e/0/1.1064 pop 1
