[submodule "comparison/cnf_edge_throughput/packet_generator/ansible/roles/ansible-docker"]
	path = comparison/cnf_edge_throughput/packet_generator/ansible/roles/ansible-docker
	url = git@github.com:nickjj/ansible-docker.git
