[Unit]
Description = OpenStack VPP Agent
After=syslog.target network.target

[Service]
ExecReload = /bin/kill -HUP $MAINPID
TimeoutStopSec = 300
KillMode = process
ExecStart = {{binpath[ansible_os_family]}}/vpp-agent --config-file /etc/neutron/plugins/ml2/ml2_conf.ini --config-file /etc/neutron/neutron.conf --log-file /var/log/vpp/vpp-agent.log
User = root

[Install]
WantedBy = multi-user.target
