---
- name: find the controller host address
  set_fact:
    host_0_address: "{{hostvars[groups['all'][0]].ansible_bond0.ipv4.address}}"

- name: Add packagecloud gpg key
  apt_key:
    url: https://packagecloud.io/fdio/{{vpp_branch}}/gpgkey
    state: present
  when: ansible_os_family == "Debian"

- name: setup vpp repo for RedHat
  template:
    src: fdio.repo
    dest: /etc/yum.repos.d/fdio.repo
  when: ansible_os_family == "RedHat"
  register: vpp_sh_rh

- name: setup vpp repo for Ubuntu
  template:
    src: 99fd.io.list
    dest: /etc/apt/sources.list.d/99fd.io.list
  when: ansible_os_family == "Debian"
  register: vpp_sh_deb

- name: install dpdk on RedHat
  yum:
    name: ['libibverbs','dpdk']
  when: ansible_os_family == "RedHat"

- name: update apt cache
  apt:
    update_cache: yes
  when: ansible_os_family == 'Debian'

- name: install dpdk on Debian
  apt:
    update_cache: yes
    name: "{{ packages }}"
  vars:
    packages:
    - libibverbs-dev
    - dpdk
  when: ansible_os_family == "Debian"

- name: install vpp service(s) RedHat
  yum:
    name: ["vpp","vpp-plugins","vpp-devel"]
  when: ansible_os_family == "RedHat"

- name: install vpp service(s) Ubuntu
  apt:
    update_cache: yes
    name: "{{ packages }}"
  vars:
    packages:
    - libvppinfra={{vpp_ver}}-release
    - vpp={{vpp_ver}}-release
    - vpp-plugin-core={{vpp_ver}}-release
    - vpp-plugin-dpdk={{vpp_ver}}-release
  when: ansible_os_family == "Debian"

- name: install vpp api packages(s) RedHat
  yum:
    name: ["vpp-api-python","vpp-api-lua","vpp-api-java"]
  when: ansible_os_family == "RedHat"

- name: install vpp api packages(s) Ubuntu
  apt:
    update_cache: yes
    name: "{{ packages }}"
  vars:
    packages:
    - vpp-api-python={{vpp_ver}}-release
    - vpp-api-java
      # vpp-api-java is on a different release schedule, see https://wiki.fd.io/view/JVPP
  when: ansible_os_family == "Debian"

- name: Enable use of vfio-pci driver
  replace:
    path: /lib/systemd/system/vpp.service
    regexp: 'uio_pci_generic'
    replace: 'vfio-pci'
    backup: no
  when: ansible_os_family == "Debian"

- name: Create perfmon tar bundle
  command: tar Jxf PerfmonTables.tar.xz
  args:
   chdir: /usr/share/vpp/plugins/perfmon
  ignore_errors: true

- name: Restart VPP service
  systemd:
    name: vpp
    state: restarted
    daemon_reload: yes
  when: ansible_os_family == "Debian"
