---
# ./ PACKET create vlan and save vlan ids
# ./ PACKET disbond interfaces
# ./ PACKET assign vlan

- hosts: localhost
  vars:
    facility: "{{ lookup('env','PACKET_FACILITY') }}"
    deploy_env: "{{ lookup('env','K8S_DEPLOY_ENV') }}"
    server_list: "{{ lookup('env','SERVER_LIST') }}"
    project_name: "{{ lookup('env','PROJECT_NAME') }}"
    vlans:
      vlan1:
        interface: eth1
      vlan2:
        interface: eth3
  roles:
    - packet_l2

- hosts: all
  vars:
    cnf: true
    vnf: false
    # Run host vSwitch in container
    vswitch_container: false
    nic_type: "intel"
    multus_cni: false
    baseline: false
    hugepages: 10240
    isolated_cores: "{{ lookup('env', 'ISOLATED_CORES') }}"
    corelist_workers: 3
    rx_queues: 3
    config_network_bonds: true
    config_network_bridges: false
    config_network_interfaces: true
    enable_configured_interfaces_after_defining: true
    # Never build from source here
    vpp_src: false
    nic_port2: "{{ ansible_eno2.pciid }}"
    nic_port3: "{{ ansible_eno4.pciid }}"
    dns_nameservers:
      - "{{ ansible_dns.nameservers[0] }}"
      - "{{ ansible_dns.nameservers[1] }}"
    network_bonds:
      - name: 'bond0'
        configure: true
        method: 'static'
        address: "{{ ansible_bond0.ipv4.address }}"
        netmask: "{{ ansible_bond0.ipv4.netmask }}"
        gateway: "{{ ansible_default_ipv4.gateway }}"
        parameters:
          - param: 'bond-downdelay'
            val: '200'
          - param: 'bond-miimon'
            val: '100'
          - param: 'bond-mode'
            val: '4'
          - param: 'bond-updelay'
            val: '200'
          - param: 'bond-xmit_hash_policy'
            val: 'layer3+4'
          - param: 'bond-lacp-rate'
            val: '1'
        slaves:
          - "eno1"
          - "eno3"
      - name: 'bond0:0'
        configure: true
        method: 'static'
        address: "{{ ansible_bond0_0.ipv4.address }}"
        netmask: "{{ ansible_bond0_0.ipv4.netmask }}"
        parameters:
          - param: 'post-up'
            val: "route add -net 10.0.0.0/8 gw {{ ansible_bond0_0.ipv4.network }}"
          - param: 'post-down'
            val: "route del -net 10.0.0.0/8 gw {{ ansible_bond0_0.ipv4.network }}"
    network_interfaces:
      - name: "eno1"
        configure: true
        method: 'manual'
        parameters:
          - param:
            val: 'bond-master bond0'
      - name: "eno3"
        configure: true
        method: 'manual'
        parameters:
          - param:
            val: 'bond-master bond0'
  pre_tasks:
  - name: Apt update
    apt:
      update_cache: yes
  - name: Install Vlan Package
    apt: 
      name: vlan
  - name: Install pip
    apt:
      name: python-pip
    when: vswitch_container
  - name: Install docker-py
    pip:
      name: docker-py
    when: vswitch_container
  - name: Get dns servers
    setup: 
      filter: "{{ ansible_dns.nameservers }}"
  - name: Get Bond0 Public IP
    setup: 
      filter: "{{ ansible_bond0.ipv4.address }}"
  - name: Get bond0 netmask
    setup: 
      filter: "{{ ansible_bond0.ipv4.netmask }}"
  - name: Echo bond0 netmask
    setup: 
      filter: "{{ ansible_default_ipv4.gateway }}"
  - name: Get bond0 internal address
    setup: 
      filter: "{{ ansible_bond0_0.ipv4.address }}"
  - name: Get bond0 internal netmask
    setup:
      filter: "{{ ansible_bond0_0.ipv4.netmask }}"
  - name: Get bond0 internal gw
    setup:
      filter: "{{ ansible_bond0_0.ipv4.network }}"
  - name: Get NIC port 2 pci id
    setup:
      filter: "{{ ansible_eno2.pciid }}"
  - name: Get NIC port 4 pci id
    setup:
      filter: "{{ ansible_eno4.pciid }}"
  post_tasks:
  - name: Reboot Server
    reboot:
  roles:
    - mrlesmithjr.config-interfaces
    - grub_update
    - { role: "avinetworks.docker", when: vswitch_container }
    - { role: "vpp_install", when: not vswitch_container }
    - { role: "vpp_container_install", when: vswitch_container }
    - vpp_config
    - { role: "multus_cni", when: multus_cni }
