export USE_RESERVED=false
export DEPLOY_NAME=test
export PACKET_FACILITY=ewr1
export PACKET_OS=ubuntu_18_04
export MASTER_COUNT=1
export MASTER_PLAN=c1.small.x86
export WORKER_COUNT=1
export WORKER_PLAN=c1.small.x86	
export PACKET_AUTH_TOKEN=YOUR_PACKET_TOKEN
export PACKET_PROJECT_ID=YOUR_PACKET_PROJECT_ID