export NAME=quadintel
export K8S_DEPLOY_ENV=k8sworker
export MASTER_NODE_COUNT=1
export WORKER_NODE_COUNT=1
export MASTER_NODE_TYPE=t1.small
export WORKER_NODE_TYPE=m2.xlarge.x86
#export WORKER_NODE_TYPE=n2.xlarge.x86
export NODE_OS=ubuntu_18_04
export PACKET_FACILITY=ewr1
export ETCD_VERSION=v3.2.8
export CNI_VERSION=v0.6.0
export K8S_RELEASE=v1.13.0
export PLAYBOOK=k8s_worker_vswitch_mellanox.yml
#export PLAYBOOK=k8s_worker_vswitch_quad_intel.yml
export PACKET_AUTH_TOKEN=your-auth-token
export PACKET_PROJECT_ID=your-project-id
# export PACKET_PROJECT_NAME="CNCF CNFs" # CNCF CNFs is default, this must be set if using another project
