# Modify and source this file before running the deploy_openstack_cluster.sh script
# from within the comparison directory
#

# Defaults, uncomment and change to override
# export MASTER_NAME="openstack" # hostname scheme for controller nodes
# export NODE_NAME="openstack" # hostname scheme for compute nodes
# export DEPLOY_ENV="test" # environment name prepended to VLAN descriptions (eg. testvlan1, testvlan2)

# export MASTER_COUNT=1 # number of controller nodes
# export NODE_COUNT=2 # number of compute nodes
# export MASTER_PLAN="m2.xlarge.x86" # type of baremetal server to provision for controller(s)
# export NODE_PLAN="m2.xlarge.x86" # type of baremetal server to provision for compute node(s)
# export PACKET_OS="ubuntu_18_04" # OS to be deployed on master and compute nodes. options include: "ubuntu_18_04", "centos_7"
# export PACKET_FACILITY="sjc1" # Equinix Metal facility to which the OpenStack cluster and VLANs will be deployed

# Enable / disable Ansible vars
# export ANSIBLE_ARGS="-e vpp_network=true create_vlans=true"

# Available ansible vars for ANSIBLE_ARGS and their defaults:
    # vpp_network: true
    # create_vlans: true

# Required info
export PACKET_AUTH_TOKEN="yourauthtoken"
export PACKET_PROJECT_ID="yourprojectid"
export PACKET_PROJECT_NAME="your project name"
