# Modify and source this file before running the deploy_openstack_cluster.sh script
# from within the comparison directory
#

# Defaults
export NODE_NAME=openstack-
export NODE_COUNT=3
export NODE_PLAN=m2.xlarge.x86
export PACKET_OS=centos_7
export PACKET_FACILITY=nrt1

# Required
export PACKET_AUTH_TOKEN=yourauthtoken
export PACKET_PROJECT_ID=yourprojectid
export PACKET_PROJECT_NAME="your project name"
