export NODE_NAME=openstack-
export NODE_COUNT=3
export NODE_PLAN=m2.xlarge.x86
export PACKET_OS=centos_7
export PACKET_FACILITY=nrt1
#export PACKET_PROJECT_NAME="CNCF CNFs"
#export PACKET_AUTH_TOKEN=yourauthtoken
#export PACKET_PROJECT_ID=yourprojectid

