# Modify and source this file before running the deploy_openstack_cluster.sh script
# from within the comparison directory
#

# Defaults
export DEPLOY_ENV="test"
export MASTER_NAME=os-master-0
export NODE_NAME=os-compute-0
export MASTER_COUNT=1
export NODE_COUNT=2
# Currently we only support m2.xlarge.x8 for VPP based deployments
export MASTER_PLAN=m2.xlarge.x86
export NODE_PLAN=m2.xlarge.x86
# Any facility with m2.xlarge.x86 should be available
export PACKET_FACILITY=sjc1
# Only ubuntu_18_04 is supported at the moment
export PACKET_OS=ubuntu_18_04

# Enable / disable VPP vSwitch (false will use OVS)
export ANSIBLE_ARGS="-e vpp_network=true"

# Required
export PACKET_AUTH_TOKEN="yourauthtoken"
export PACKET_PROJECT_ID="yourprojectid"
export PACKET_PROJECT_NAME="your project name"
