export MASTER_NODE_COUNT=1
export WORKER_NODE_COUNT=2
export MASTER_NODE_TYPE=c1.xlarge
export WORKER_NODE_TYPE=c1.xlarge
export NODE_OS=centos7
#export PACKET_AUTH_TOKEN=yourauthtoken
#export PACKET_PROJECT_ID=yourprojectid

