# Config
export DEPLOY_NAME=cnftestbed
export PROJECT_ROOT=$(cd ../ ; pwd -P)
export NODE_FILE=data/${DEPLOY_NAME}/packet_gen.env
export NIC_FILE=data/${DEPLOY_NAME}/packet_gen_nics.env
export NIC_TYPE="-e quad_intel=true"
export FACILITY=ewr1
export VLAN_SEGMENT=${DEPLOY_NAME}
export PLAYBOOK=packet_generator.yml

# Keys
export PACKET_PROJECT_NAME='YOUR EQUINIX METAL PROJECT NAME'
export PACKET_AUTH_TOKEN=YOUR_EQUINIX_METAL_TOKEN
