#####################################
#### Packet.com Project Settings ####
#####################################
export PACKET_AUTH_TOKEN=your-auth-token
export PACKET_PROJECT_ID=your-project-id
export PACKET_PROJECT_NAME="your-project-name"

########################################
#### Packet.com Server Provisioning ####
########################################
export DEPLOY_NAME=cnftestbed
export VLAN_SEGMENT=${DEPLOY_NAME}
export FACILITY=ewr1
export NODE_GROUP_ONE_NAME=${DEPLOY_NAME}-pktgen

###########################
#### Advanced settings ####
###########################
export NODE_GROUP_ONE_DEVICE_PLAN=n2.xlarge.x86
export OPERATING_SYSTEM=ubuntu_18_04
export ISOLATED_CORES=0
export STATE_FILE=${PWD}/data/${DEPLOY_NAME}/packet_gen.tfstate
export NODE_FILE=${PWD}/data/${DEPLOY_NAME}/packet_gen.env
