# Config
export DEPLOY_NAME=cnftestbed
export VLAN_SEGMENT=${DEPLOY_NAME}
export STATE_FILE=${PWD}/data/${DEPLOY_NAME}/packet_gen.tfstate
export NODE_FILE=${PWD}/data/${DEPLOY_NAME}/packet_gen.env
export NODE_GROUP_ONE_NAME=${DEPLOY_NAME}-pktgen
export USE_RESERVED=false
export FACILITY=ewr1

# Keys
export PACKET_AUTH_TOKEN=YOUR_PACKET_TOKEN
export PROJECT_ID=YOUR_PACKET_PROJECT_ID
