# Config
export DEPLOY_NAME=cnftestbed
export PROJECT_ROOT=$(cd ../ ; pwd -P)
export FACILITY="sjc1"
export VLAN_SEGMENT=cnftestbed
export PLAYBOOK=k8s_worker_vswitch_mellanox.yml
export KUBECONFIG=data/${DEPLOY_NAME}/mycluster/artifacts/admin.conf #Or
#export WORKER_IPS="1.1.1.1,2.2.2.2,3.3.3.3"

# Keys
export PACKET_PROJECT_NAME='YOUR PACKET PROJECT NAME'
export PACKET_AUTH_TOKEN=YOUR_PACKET_TOKEN


