export PACKET_PROJECT_NAME='YOUR PACKET PROJECT NAME'
export PACKET_AUTH_TOKEN=YOUR_PACKET_TOKEN
export PACKET_FACILITY="sjc1"
export VLAN_SEGMENT=sjctest
export PLAYBOOK=k8s_worker_vswitch_mellanox.yml
export KUBECONFIG=/path/to/your/kubeconfig.file #Or
#export WORKER_IPS="1.1.1.1,2.2.2.2,3.3.3.3"


